{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "linebreak-style": 0, // To remove 'expected LF but got CLRF' lint error
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ]
  }
}